.nav-link {
    color: #007bff; /* สีข้อความ */
    background-color: #f8f9fa; /* สีพื้นหลัง */
    border: 2px solid #007bff; /* สีกรอบ */
}

.nav-link:hover {
    background-color: #007bff; /* สีพื้นหลังเมื่อเลื่อนเมาส์ไปที่ลิงค์ */
    color: #ffffff; /* สีข้อความเมื่อเลื่อนเมาส์ไปที่ลิงค์ */
    border-color: #0056b3; /* สีกรอบเมื่อเลื่อนเมาส์ */
}

.nav-link.active {
    background-color: #0056b3; /* สีพื้นหลังสำหรับลิงก์ที่เลือก */
    color: #ffffff; /* สีข้อความสำหรับลิงก์ที่เลือก */
    border-color: #0056b3; /* สีกรอบสำหรับลิงก์ที่เลือก */
}
